.blogSection {
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
}

.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  margin-top: 2rem;
  max-width: 1400px;
}


.articleCard {
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 25%;
  transition: all 0.3s ease-in-out;
}

.articleCard:hover {
  transform: scale(1.05);
}

.articleCard img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.articleCard a {
  color: #0071c5;
  display: block;
  text-decoration: none;
}

.articleCard a:hover {
  text-decoration: underline;
}

.articleCard div {
  padding: 0.5rem;
}

.excerpt {
  color: #0071c5;
}