.blogSection {
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
}

.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.articleCard {
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: all 0.3s ease-in-out;
}

.articleCard:hover {
  transform: scale(1.05);
}

.articleCard img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  color: #0071c5;
}

.articleCard a:hover {
    color: #0071c5;
    text-decoration: underline;
}

.articleCard div {
  padding: 1rem;
}

.excerpt{
  color: #0071c5;
}

.author{
  color: #0071c5;
}