/* Footer Styles */

.footerContainer {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 0;
background-color: rgba(153, 204, 255, 0.8);
color: #333;
}

.footerLogo img {
height: 50px;
margin-left: 1rem;
margin-right: 1rem;
}

.footerNav ul {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

.footerNav li:not(:last-child) {
margin-right: 1rem;
}

.footerNav a {
color: #333;
font-size: 1rem;
text-decoration: none;
padding: 1rem;
font-weight: bold;
}

.footerBottom {
background-color: #f1f5f8;
color: #777;
padding: 1rem 0;
text-align: center;
font-size: 0.8rem;
}