.main-section {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  background-color: red;
}
.navMenu {
  font-family: Times New Roman;
  background-color: navy;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  list-style: none;
  flex-wrap: wrap; /* Add this property to wrap the items on smaller screens */
}

.navMenu ul {
  color: white;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center; /* Add this property to center the list items */
}

.navMenu ul li {
  text-color: white;
  font-size: 1.4em;
  list-style: none;
  display: inline-block;
  margin: 0;
}

.navMenu a {
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 2 rem;
  padding: 0.5rem 1rem; /* Add some padding to make the links easier to click */
}
