.navMenu {
background-color: #3498db;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
margin: 0;
}

.navMenu ul {
color: white;
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

.navMenu li:not(:last-child) {
margin-right: 1rem;
}

.navMenu a {
color: white;
text-decoration: none;
font-size: 1.2rem;
}

.navMenu a:hover {
text-decoration: none;
color: black;
}